SoapCalculator/src/main/webapp/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculator.bazoly.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculator.bazoly.com" xmlns:intf="http://calculator.bazoly.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculator.bazoly.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addition">
    <complexType>
     <sequence>
      <element name="addend1" type="xsd:double"/>
      <element name="addend2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="additionResponse">
    <complexType>
     <sequence>
      <element name="additionReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtraction">
    <complexType>
     <sequence>
      <element name="minuend" type="xsd:double"/>
      <element name="subtrahend" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtractionResponse">
    <complexType>
     <sequence>
      <element name="subtractionReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplication">
    <complexType>
     <sequence>
      <element name="multiplier" type="xsd:double"/>
      <element name="multiplicand" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicationResponse">
    <complexType>
     <sequence>
      <element name="multiplicationReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="divison">
    <complexType>
     <sequence>
      <element name="dividend" type="xsd:double"/>
      <element name="divisor" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisonResponse">
    <complexType>
     <sequence>
      <element name="divisonReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subtractionResponse">

      <wsdl:part element="impl:subtractionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicationResponse">

      <wsdl:part element="impl:multiplicationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicationRequest">

      <wsdl:part element="impl:multiplication" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisonRequest">

      <wsdl:part element="impl:divison" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisonResponse">

      <wsdl:part element="impl:divisonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="additionRequest">

      <wsdl:part element="impl:addition" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="additionResponse">

      <wsdl:part element="impl:additionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtractionRequest">

      <wsdl:part element="impl:subtraction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="addition">

         <wsdl:input message="impl:additionRequest" name="additionRequest">

       </wsdl:input>

         <wsdl:output message="impl:additionResponse" name="additionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtraction">

         <wsdl:input message="impl:subtractionRequest" name="subtractionRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtractionResponse" name="subtractionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplication">

         <wsdl:input message="impl:multiplicationRequest" name="multiplicationRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicationResponse" name="multiplicationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divison">

         <wsdl:input message="impl:divisonRequest" name="divisonRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisonResponse" name="divisonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="additionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="additionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtraction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtractionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divison">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080/SoapCalculator/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
